
.speech {
    font-family: "Georgia", serif;
    font-size: 16px;
    color: black;
}


.stage-direction {
    font-family: "Courier New", monospace;
    font-size: 14px;
    color: black;
    background-color: #f5f5f5;
    padding: 5px;
    font-style: italic;
}

.stage-direction:hover {
    background-color: #dcdcdc;
    color: darkred;
}


.name {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
}


.kent {
    color: darkblue;
}

.gloucester {
    color: darkgreen;
}

.edmund {
    color: darkred;
}
